$color-subtle-control-border: rgba(0, 0, 0, 0.1);

.datetime-wrapper {
  display: inline-flex;
  vertical-align: middle;
  padding: 0px 5px 0px 15px;
  border: solid 1px $color-subtle-control-border;
  border-radius: 3px;

  input {
    max-width: 70px;
  }

  .time-comp {
    display: inline-block;
    select {
      border: none;
      border-bottom: dashed 1px $color-subtle-control-border;
      padding: 0px 8px 0px 8px;
      margin: 0px 2px 0px 2px;
      margin-top: 10px;
    }
  }
}
