<form [formGroup]="form">
    <formly-form *ngIf="!inline" [form]="form" [fields]="fields" [model]="model">
    </formly-form>
    <lib-formly-form-flex *ngIf="inline" [form]="form" [fields]="fields" [model]="model">
    </lib-formly-form-flex>
    <ng-content select=[bottom-content]></ng-content>
</form>