$color-info: cornflowerblue;
$color-warn: orange;
$color-error: red;
$color-subtle-text: rgba(0, 0, 0, 0.38);

div {
  border: 1px solid $color-info;
  border-radius: 3px;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  color: $color-subtle-text;

  div {
    border: none;
    padding: 8px;
    span {
      margin-top: 2px;
      padding-left: 8px;
    }
  }

  mat-icon {
    color: $color-info;
  }

  &.info-type-error {
    border-color: $color-error;
    mat-icon {
      color: $color-error;
    }
  }

  &.info-type-warn {
    border-color: $color-warn;
    mat-icon {
      color: $color-warn;
    }
  }
}
